@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  min-height: 100vh;
  background-color: #ccc;
}

.section-main{
  position: relative;
  width: 100%;
  min-height: 85vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 20px 100px;
  animation: animate 16s ease-in-out infinite;
}
@keyframes animate{
  0%,100%{
    background-image: url(images2/Blue\ Beetle.jpeg);
  }
  25%{
    background-image: url(images2/Joker\ 2019.jpeg);
  }
  50%{
    background-image: url(images2/bloodshot.jpg);
  }
  75%{
    background-image: url(images2/Doctor\ Strange\ \(1\).jpeg);
  }
}

.section-main h1{
  color: #fff;
  font-size: 60px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 80px;
}
.section-main p{
  color: #fff;
  position: absolute;
  font-size: 18px;
  font-weight: 800;
  display: inline-block;
  justify-content: left;
  line-height: 80px;
  padding-top: 100px;
} 


header{
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
  transition: 0.6s;
  background: #000000;
}

header.sticky{
  background: #000;
  padding: 15px 100px;
}

header .brand{
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  font-family: Arial, Helvetica, sans-serif;
}

header .menu{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .menu a{
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  margin: 0 30px;
  padding: 0 10px;
  border-radius: 20px;
  transition: 0.3s;
  transition-property: color, background;
}

header .menu a:hover{
  color: #000;
  background: #fff;
}

header .btn{
  color: #fff;
  font-size: 25px;
  cursor: pointer;
  display: none;
}

header .current{
  background: #cb202d;
}
header .search{
  float: right;
  margin-top: 9px;
  margin-right: -10px;
  width: 20%;
  height: 20px;
  border-radius: 5px;
  border: none;
  text-indent: 5px;
}


.section-two{
  min-height: 30vh;
  background: #ccc;
  padding: 50px 100px;
}




@media (max-width: 1060px){
  header .btn{
    display: block;
  }

  header .menu{
    position: fixed;
    background: #000;
    flex-direction: column;
    min-width: 400px;
    height: 100vh;
    top: 0;
    right: -100%;
    padding: 80px 50px;
    transition: 0.5s;
    transition-property: right;
  }

  header .menu.active{
    right: 0;
  }

  header .menu .close-btn{
    position: absolute;
    top: 0;
    left: 0;
    margin: 25px;
  }

  header .menu a{
    display: block;
    font-size: 20px;
    margin: 20px;
    padding: 0 15px;
  }
}

@media (max-width: 630px){
  .section-main h1{
    font-size: 50px;
    line-height: 60px;
  }
}



/**********CATEGORY*************/

.categories{
    padding: 0;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(350px,1fr));
    grid-gap: 20px 40px;
}
.heading{
    color: #000;
    margin-bottom: 30px;
    padding: 120px 0 30px 0;
    grid-column: 1/-1;
    text-align: center;
}
.heading>h1{
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 10px;
    margin-bottom: 10px;
}
.heading>h3{
    font-weight: 600;
    font-size: 22px;
    letter-spacing: 5px;
}
.movie-category{
    display: grid;
    position: relative;
    grid-template-rows: auto 1fr;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    margin: 0 20px;
}
.movie-category img{
    position: relative;
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.details{
    padding: 20px 10px;
    display: grid;
    grid-template-rows: auto 1fr 50px;
    grid-row-gap: 15px;
}
.details-sub{
    display: grid;
    grid-template-columns: auto auto;
}
.details-sub>h5{
    font-weight: 600;
    font-size: 18px;
}

button{
    background-color: #cb202d;
    border: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    width: 180px;
}
button a{
  text-decoration: none;
  color: white;
}




/*upcoming movies*/

.wrapper{
    overflow-x: none;
    padding-top: 60px;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 1rem;
}
.title{
    margin-top: 3rem;
    text-align: center;
    position: relative;
}
.title::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    height: 3px;
    width: 200px;
    background-color: #000;
}
.title h1{
    font-weight: 500;
    opacity: 0.8;
}
.movie{
    margin: 3rem 0;
}
.movie-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.movie-item{
    width: calc(20% - 16px);
    margin: 8px;
    background-color: #fff;
    max-width: 300px;
}
.movie-img{
    position: relative;
    overflow: hidden;
    height: 300px;
}
.movie-item img{
    width: 100%;
    display: block;
}
.movie-img div{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    padding: 0.8rem;
   
}

.movie-title{
    display: block;
    font-weight: 700;
    color: #000;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 0.9rem;
    font-weight: 300;
    padding: 0.2rem 0;
}
.date{
    font-size: 0.9rem;
    font-weight: 300;
    opacity: 0.9;
    text-transform: capitalize;
}
.date span{
    font-weight: 400;
    color: rgb(76, 99, 76);
}



@media screen and (max-width: 1200px){
    .movie-item{
        width: calc(25% - 16px);
    }
}
@media screen and (max-width: 992px){
    .movie-item{
        width: calc(33.3333% - 16px);
    }
}
@media screen and (max-width: 768px){
    .movie-item{
        width: calc(50% - 16px);
    }
}
@media screen and (max-width: 576px){
    .movie-item{
        width: calc(100% - 16px);
    }
}

.others{
  height: 100px;
}

.others .other-categories{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.others .other-categories a{
  color: #000;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  margin: 0 30px;
  padding: 0 10px;
  border-radius: 20px;
  transition: 0.3s;
  transition-property: color;
  background-color: #cb202d;
}

@media (max-width: 1060px){
   .others .other-categories a{
    display: inline-block;
    font-size: 20px;
    margin: 2px;
    padding: 0 5px;
    background: gray;
  }
}




/*****modal box***/
.modal{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background:url(images/bg3.jpg);
}

.modalcontent{
  position: relative;
  background: #fff;
  width: 500px;
  max-width: 90%;
  padding: 1em 2em;
  border-radius:4px ;
}





.contact-section{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-info{
  color: #fff;
  max-width: 500px;
  line-height: 65px;
  padding-left: 50px;
  font-size: 18px;
  color: #000000;
}

.contact-info i{
  margin-right: 20px;
  font-size: 25px;
  color: #000000;
}

.contact-form{
  max-width: 700px;
  margin-right: 50px;
}

.contact-info, .contact-form{
  flex: 1;
}

.contact-form h2{
  color: #fff;
  text-align: center;
  font-size: 35px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.contact-form .text-box{
  background: #000;
  color: #fff;
  border: none;
  width: calc(50% - 10px);
  height: 50px;
  padding: 12px;
  font-size: 15px;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  opacity: 0.9;
}

.contact-form .text-box:first-child{
  margin-right: 15px;
}

.contact-form textarea{
  background: #000;
  color: #fff;
  border: none;
  width: 100%;
  padding: 12px;
  font-size: 15px;
  min-height: 200px;
  max-height: 400px;
  resize: vertical;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  opacity: 0.9;
}

.contact-form .send-btn{
  float: right;
  background: #2E94E3;
  color: #fff;
  border: none;
  width: 120px;
  height: 40px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  transition-property: background;
}

.contact-form .send-btn:hover{
  background: #0582E3;
}

@media screen and (max-width: 950px){
  .contact-section{
    flex-direction: column;
  }

  .contact-info, .contact-form{
    margin: 30px 50px;
  }

  .contact-form h2{
    font-size: 30px;
  }

  .contact-form .text-box{
    width: 100%;
  }
}


/*********feedback section**********/

.feedback-section{
  padding: 40px 0;
}
.feedback-section h1{
  text-align: center;
  color: #000;
  padding-top: 70px;
}

.feedback-form{
  max-width: 600px;
  margin: auto;
  padding: 0 10px;
  overflow: hidden;
}

.feedback-form-text{
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 16px 0;
  border: 0;
  background: #111;
  padding: 20px 40px;
  outline: none;
  color: #ddd;
  transition: 0.5s;
}
.feedback-form-text:focus{
  box-shadow: 0 0 10px 4px #34495e;
}
textarea.feedback-form-text{
  resize: none;
  height: 120px;
}
.feedback-form-btn{
  float: right;
  border: 0;
  background: #34495e;
  color: #fff;
  padding: 12px 50px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
}
.feedback-form-btn:hover{
  background: #2980b9;
}

/********Footer**********/
footer{
  padding: 40px 0;
  background-color: rgb(12, 11, 11);
  padding-top: 10px;
}
footer .social{
  text-align: center;
  padding-bottom: 25px;
  color: #196ec2;
}
footer .social a{
  font-size: 24px;
  color: inherit;
  border: 1px solid #ccc;
  width: 40px;
  height: 40px;
  line-height: 38px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 8px;
  opacity: 0.75;
}
footer .social a:hover{
  opacity: 0.9;
}
footer ul{
  margin-top: 0;
  padding: 0;
  list-style: none;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
  text-align: center;
}
footer ul li a{
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
  color: #fff;
}
footer ul li{
  display: inline-block;
  padding: 0 15px;

}
footer ul li a:hover{
  opacity: 1;
}
footer .copyright{
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #fff;
}

